/* 
Desafío: Maquetado de Aplicaciones de Software

Construcción de Software y Toma de Decisiones

Docente: M. C. Ing. Sasha Valdés Jiménez

Equipo: 
- Jonathan Uziel Medina Rodríguez (A01255048)
- Noah Gamaliel Rivera Nieblas (A01255351)

Fecha: 04/03/2025

Descripción: Estilos generales de la aplicación web de 2 Hermanos.
*/

/* Importar fonts de Google Fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: #a1d3fe;
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
}

#header_bar{
    width: 100%;
    background-color: #002E6E;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#header_bar h1{
    margin-left: 105px;
    color: #ffffff;
    font-family: 'Instrument Sans', sans-serif;
    font-style: italic;
}

#header_bar nav{
    align-self: center;
    position: relative;
    margin-right: 105px;
    color: #ffffff;
}

#header_bar nav a{
    color: #ffffff;
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-right: 4rem;
}

#header_bar nav a:hover, #header_bar nav a:focus{
    text-decoration: underline;
    font-weight: bold;
}

#header_bar nav a:active{
    color: #95cdfd;
}

#header_bar nav button{
    color: #004DB9;
    background-color: #ffffff;
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    width: 90px;
    height: 40px;
    text-decoration: none;
    border: 0px;
    border-radius: 10px;
}

#header_bar nav button:hover, #header_bar nav button:focus{
    transition: 0.3s;
    color: #000000;
    background-color: #57B1FF;
}

#header_bar nav button:active{
    transition: 0.00001s;
    color: #000000;
    background-color: #f1fe78;
}

@media only screen and (max-width: 1000px){
    html, body{
        font-size: 16px;
    }

    #header_bar{
        background-color: #002E6E;
        display: flow-root;
        flex-direction: row;
    }

    #header_bar h1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #header_bar nav{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 25px;
    }

    #header_bar nav a{
        font-size: 18px;
    }

    #header_bar nav button{
        font-size: 18px;
        width: 70px;
        height: 30px;
    }
}